{#
   Copyright 2015 VMware, Inc.  All rights reserved.

   SPDX-License-Identifier: Apache-2.0 OR GPL-3.0-only

   This code is Dual Licensed Apache-2.0 or GPLv3
#} 
###
# kubernetes kubelet (minion) config

# The address for the info server to serve on (set to 0.0.0.0 or "" for all interfaces)
KUBELET_ADDRESS="--address=0.0.0.0"

# The port for the info server to serve on
KUBELET_PORT="--port=10250"

# You may leave this blank to use the actual hostname
KUBELET_HOSTNAME="--hostname_override={{ inventory_hostname }}"

# location of the api-server
KUBELET_API_SERVER="--api_servers=http://{{ master_address }}:8080"

# Add your own!
KUBELET_ARGS="--allow-privileged=true --cluster-dns={{ kube_service_addresses|ipaddr('net')|ipaddr(10)|ipaddr('address') }} --cluster-domain={{ kube_dns_domain }}"

KUBELET_MANIFESTS="--config=/etc/kubernetes/manifests/fluentd.yaml"
