{#
   Copyright 2015 VMware, Inc.  All rights reserved.

   SPDX-License-Identifier: Apache-2.0 OR GPL-3.0-only

   This code is Dual Licensed Apache-2.0 or GPLv3
#} 
[Unit]
Description=Docker container engine configured to run with flannel
Requires=flannel.service 
After=flannel.service network-online.target
Wants=network-online.target

[Service]
Type=notify
EnvironmentFile=/run/flannel/subnet.env
EnvironmentFile=-/etc/default/docker
ExecStart=/usr/bin/docker daemon --containerd /run/containerd.sock --bip=${FLANNEL_SUBNET} --mtu=${FLANNEL_MTU}
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=5
LimitNOFILE=1048576
LimitNPROC=1048576
LimitCORE=infinity
Group = docker

[Install]
WantedBy=multi-user.target
