{#
   Copyright 2015 VMware, Inc.  All rights reserved.

   SPDX-License-Identifier: Apache-2.0 OR GPL-3.0-only

   This code is Dual Licensed Apache-2.0 or GPLv3
#} 
[Unit]
Description=etcd

[Service]
EnvironmentFile=/etc/environment
ExecStart=/usr/bin/etcd --advertise-client-urls http://{{ master_address }}:2379 --listen-client-urls http://0.0.0.0:2379 --initial-advertise-peer-urls http://{{ master_address }}:2380  --listen-peer-urls http://0.0.0.0:2380  --initial-cluster-token etcd-cluster-1  -initial-cluster default=http://{{ master_address }}:2380  -initial-cluster-state new
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
