{#
   Copyright 2015 VMware, Inc.  All rights reserved.

   SPDX-License-Identifier: Apache-2.0 OR GPL-3.0-only

   This code is Dual Licensed Apache-2.0 or GPLv3
#} 
[Unit]
Description=Flannel network fabric

[Service]
EnvironmentFile=/etc/environment
ExecStart=/usr/bin/flanneld --v=9 --iface={{ hostvars[inventory_hostname]['ansible_eth0']['ipv4']['address'] }} --etcd-endpoints=http://{{ master_address }}:2379 
ExecStartPost=-/bin/bash -c "until [ -e /run/flannel/subnet.env ]; do echo \"waiting for write.\"; sleep 3; done"
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
