{
    "apiVersion": "v1",
    "kind": "Node",
    "metadata": {
        "name": "{{ item }}",
        "labels":{ "name": "photon-node-label"}
    },
    "spec": {
        "externalID": "{{ item }}"
    }
}